* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Redressed', cursive;
    background-color: #FFFFFA;
}
@media screen and (max-width: 425px) { /*mobil*/
    header nav {
        width: 80%;
        height: 100%;
        left:-100%;
        margin: 0%;
        position: fixed;
        background-color: #024959;
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom:1px solid rgba(255,255,255, .3)
    }
    header nav ul li a {
        color: #fff;
        padding: 20px;
        display: block;
        text-decoration: none;
    }
    header nav ul li span {
        margin-right: 10px;
    }
    header nav ul li a:hover {
        background-color: #037E8C;
    }
    .menu_bar {
        display: block;
        width: 100%;
        background-color: #ccc;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background-color: #024959;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    div .image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div .contenedor-2 {
        padding: 10px;
    }
}
@media screen and (min-width: 800px) { /*tablet o más*/
    header {
        width: 100%;
    }
    header nav {
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
        background-color: #024959;
    }
    .menu_bar {
        display: none;
    }
    header nav ul {
        overflow: hidden;
        list-style: none;
    }
    header nav ul li {
        float: left;
    }
    header nav ul li a {
        color: #fff;
        padding: 20px;
        display: block;
        text-decoration: none;
    }
    header nav ul li span {
        margin-right: 10px;
    }
    header nav ul li a:hover {
        background-color: #037E8C;
    }
    section {
        padding: 20px;
    }
    .row {
        display: flex;
    }
    div .contenedor-2 {
        padding: 10px;
    }
}

@media screen and (min-width: 426px) and (max-width: 800px) { /*tablet*/
    header nav {
        width: 80%;
        height: 100%;
        left:-100%;
        margin: 0%;
        position: fixed;
        background-color: #024959;
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom:1px solid rgba(255,255,255, .3)
    }
    header nav ul li a {
        color: #fff;
        padding: 20px;
        display: block;
        text-decoration: none;
    }
    header nav ul li span {
        margin-right: 10px;
    }
    header nav ul li a:hover {
        background-color: #037E8C;
    }
    .menu_bar {
        display: block;
        width: 100%;
        background-color: #ccc;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background-color: #024959;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    .row {
        display: flex;
    }
    div .contenedor-2 {
        padding: 10px;
    }
}